/*-------------------------------------------------GENERAL----------------------------------------------------------*/

* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
}

body {
    background: #e5e5e5;

}

main {
    background: #fdfdfd4d;
    box-shadow: 0 0 15px #fffefe59;
}

/*...................Header...................*/

.header {
    display: flex;
    flex-direction: column;
}

.header_logo {
    width: 35%;

}

.nav_page {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.navSuperior {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2rem 48px 0 48px;
}

.navInferior {
    align-items: center;
    background-color: #e5e5e5;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    font-size: 4rem;
    height: 130px;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    width: 100%;
}

.navInferior>a>img {
    width: 80px;
}

.h1_nav_inferior {
    font-size: 4rem;
}

.header_nav {
    height: 40px;
    padding: 22px;
    width: 700px;
}

nav>a {
    background-color: #e0046c;
    border: 2px solid black;
    border-radius: 10px;
    color: #fdfdfd;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin: 0.3px;
    padding: 3.5px;
    padding-left: 5px;
    text-decoration: none;
}

nav>a:hover {
    background-color: rgb(247, 158, 173);
    color: #000;
}

/*...................Footer...................*/

.separador_footer {
    margin-top: 100px;
    border: solid 0.8px black;
}

.contenido_footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-weight: 550;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px 90px 5px 40px;
}

.socialNetworkIcons {
    display: flex;
    justify-content: flex-start;
}

.instagram,
.facebook,
.whatsapp {
    margin-left: 20px;
}

.Cohort {
    font-size: 1.7rem;
}

/*.....................Main....................*/

main {
    margin-top: 50px;
}

/*-------------------------------------------------HOME---------------------------------------------------------------------*/

/*-------------------------------------------------UPCOMING EVENTS----------------------------------------------------------*/

/*-------------------------------------------------PAST EVENTS--------------------------------------------------------------*/

/*---------------------------------------------------DETAILS-----------------------------------------------------------*/

.contenido_details {
    display: flex;
    justify-content: center;
}

.box_details {
    background-color: white;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    height: 320px;
    padding: 25px;
    width: 800px;
}

.img_details {
    border: solid 1px black;
}

.content_box_details {
    border: solid 1.3px black;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: 20px;
}

.content_box_details>h2 {
    text-align: center;
    text-decoration: underline;
}

/*-------------------------------------------------CONTACT------------------------------------------------------------------*/

.contenido_contact {

    display: flex;
    justify-content: center;
    padding: 70px 0 70px 0;
}

/*-------------------------------------------------STATS--------------------------------------------------------------------*/

.contenido_stats {
    padding: 60px 40px 60px 40px;
}

.contenido_stats>h3 {
    text-align: center;
    text-decoration: underline;
}



.table {
    background-color: white;
    border: 2px solid #000;
}

td {
    border: 1px solid #000;
    border-spacing: 0;
    padding: 0.3em;
    text-align: center;
    vertical-align: middle;
    
}

.table th {
    background: #00000099;
    color: white;
    border: 1px solid black;
    border-spacing: 0;
    padding: 0.3em;
    text-align: center;
    vertical-align: middle;
}

legend {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

/*----------------------------------------------CARDS&INPUTS------------------------------------------------------------------*/

.form_check {
    align-items: center;
    display: flex;
    width: 750px;
}

.form_check>label {
    margin-right: 7px;
}

.form_check>input {
    margin-right: 25px;
}

.form_check>input:hover {
    cursor: pointer;
}


.check_search_upcomingEvents,
.check_search_PastEvents,
.check_search_home {
    align-items: baseline;
    display: flex;
    height: 55px;
    justify-content: space-around;
    padding-top: 20px;
}

 .cards_pastEvents,
.cards_upcomingEvents,
.cards_home {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*
.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.elements_cards {
    align-items: baseline;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
}

.card {
    border: solid 1px black;
    margin-top: 30px;
} */

.tarjeta {
    border: solid 1px black;
    border-radius: 0.5rem;;
    margin-top: 30px;
    width: 18rem;
    word-wrap: break-word;
}

.tarjeta-imagen {
    /* background: url("img/Food_Fair.jpg"); */
    width: 286px;
    height: 180px;
}

.tarjeta-cuerpo {
    flex: 1 1 auto;
    padding: 16px;
}

.tarjeta-titulo {
    text-align: center;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    font-size: 1.25rem;
}

.tarjeta-texto {
    margin-top: 0;
    margin-bottom: 1rem;
}

.tarjeta-elementos {
    align-items: baseline;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
}

.tarjeta-precio {
    margin-top: 0;
    margin-bottom: 1rem;
}

.tarjeta-boton {
    background-color: #0d6efd;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font: 16px "Bebas Neue", cursive;
    padding: 6px 12px;
}

/*-------------------------------MEDIA-QUERIES------------------------------------*/

@media only screen and (max-width: 320px) {

    .header_logo {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .nav_page {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .navInferior {
        display: none;
    }

    .contenido_footer {
        align-content: center;
        padding-left: 3px;
        padding-right: 3px;
        justify-content: space-around;

    }

    .instagram,
    .facebook,
    .whatsapp {
        width: 25px;
    }

    .Cohort {
        font-size: 1rem;
    }

    .check_search_home,
    .check_search_upcomingEvents,
    .check_search_PastEvents {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .check_home,
    .check_upcomingEvents {
        display: none;
    }

    .contenido_stats {
        font-size: 0.8rem;
        padding: 0px;
    }
}

/*--------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) { 
   
    .navSuperior {
        display: flex;
        flex-direction: column;
        
    }

    .navInferior {
        align-items: center;
        background-color: #e5e5e5;
        border: solid 1px black;
        border-radius: 20px;
        display: flex;
        font-size: 4rem;
        height: 100px;
        justify-content: space-between;
        padding: 0.5rem 0.5rem 0.5rem 0rem;
        width: 682px;
    }

    .nav_page {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 5px;
        margin-bottom: 5px;
    }

    nav>a {
        font-size: 1.3rem;
    }

    .form_check {
        align-items: center;
        display: flex;
        width: 670px;
    }
    
    .form_check>label {
        margin-right: 5px;
    }
    
    .form_check>input {
        margin-right: 10px;
    }
}

    .check_search_home {
        flex-direction: column;
        align-items: center;
    }

    .form_check {
        margin-bottom: 10px;
    }


/*--------------------------------------------------------------------*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    nav>a {
        font-size: 1.2rem;
    }

}